.git
.github
.husky
.vscode

node_modules
dist
build
coverage
temp
public
guides
tests
.api

sites/**/__data__/**
sites/**/*.test.js
sites/**/*.test.ts
sites/**/*.md

npm-debug.log*
yarn.lock
pnpm-lock.yaml
*.local
*.log
.DS_Store
**/.DS_Store
**/._*
