<?xml version="1.0"?>
<settings>
    
  <filename>../../.gh-pages/guide_ru.xml</filename>
  <user-agent>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36 Edg/79.0.309.71</user-agent>
  <days>1</days>

  <channel site="tv.yandex.ru" site_id="pervyy-16" xmltv_id="Первый">Первый</channel>
  <channel site="tv.yandex.ru" site_id="rossiya-1-31" xmltv_id="Россия 1">Россия 1</channel>
  <channel site="tv.yandex.ru" site_id="match-tv-49" xmltv_id="Матч!">Матч!</channel>
  <channel site="tv.yandex.ru" site_id="ntv-11" xmltv_id="НТВ">НТВ</channel>
  <channel site="tv.yandex.ru" site_id="pyatyy-kanal-12" xmltv_id="Пятый канал">Пятый канал</channel>
  <channel site="tv.yandex.ru" site_id="kultura-14" xmltv_id="Культура">Культура</channel>
  <channel site="tv.yandex.ru" site_id="rossiya-24-3" xmltv_id="Россия 24">Россия 24</channel>
  <channel site="tv.yandex.ru" site_id="karusel-20" xmltv_id="Карусель">Карусель</channel>
  <channel site="tv.yandex.ru" site_id="obshchestvennoe-televidenie-rossii-51" xmltv_id="ОТР">ОТР</channel>
  <channel site="tv.yandex.ru" site_id="tv-centr-32" xmltv_id="ТВ Центр">ТВ Центр</channel>
  <channel site="tv.yandex.ru" site_id="ren-30" xmltv_id="РЕН ТВ">РЕН ТВ</channel>
  <channel site="tv.yandex.ru" site_id="spas-52" xmltv_id="Спас ТВ">Спас ТВ</channel>
  <channel site="tv.yandex.ru" site_id="sts-8" xmltv_id="СТС">СТС</channel>
  <channel site="tv.yandex.ru" site_id="domashniy-5" xmltv_id="Домашний">Домашний</channel>
  <channel site="tv.yandex.ru" site_id="tv-3-17" xmltv_id="ТВ-3">ТВ-3</channel>
  <channel site="tv.yandex.ru" site_id="pyatnica-42" xmltv_id="Пятница">Пятница</channel>
  <channel site="tv.yandex.ru" site_id="zvezda-15" xmltv_id="Звезда">Звезда</channel>
  <channel site="tv.yandex.ru" site_id="mir-54" xmltv_id="МИР">МИР</channel>
  <channel site="tv.yandex.ru" site_id="tnt-33" xmltv_id="ТНТ">ТНТ</channel>
  <channel site="tv.yandex.ru" site_id="muz-tv-55" xmltv_id="МУЗ-ТВ">МУЗ-ТВ</channel>
  <channel site="tv.yandex.ru" site_id="kanal-disney-4" xmltv_id="Канал Disney">Канал Disney</channel>
  <channel site="tv.yandex.ru" site_id="che-50" xmltv_id="Че">Че</channel>
  <channel site="tv.yandex.ru" site_id="tnt4-56" xmltv_id="ТНТ4">ТНТ4</channel>
  <channel site="tv.yandex.ru" site_id="yu-40" xmltv_id="Ю">Ю</channel>
  <channel site="tv.yandex.ru" site_id="2x2-29" xmltv_id="2x2">2x2</channel>
  <channel site="tv.yandex.ru" site_id="moskva-doverie-641" xmltv_id="Москва. Доверие">Москва. Доверие</channel>
  <channel site="tv.yandex.ru" site_id="360-95" xmltv_id="360°">360°</channel>
  <channel site="tv.yandex.ru" site_id="moskva-24-73" xmltv_id="Москва-24">Москва-24</channel>
  <channel site="tv.yandex.ru" site_id="eho-tv-66" xmltv_id="Эхо TV">Эхо TV</channel>
  <channel site="tv.yandex.ru" site_id="kino-tv-795" xmltv_id="Кино ТВ">Кино ТВ</channel>
  <channel site="tv.yandex.ru" site_id="a2-89" xmltv_id="A2">A2</channel>
  <channel site="tv.yandex.ru" site_id="sony-turbo-744" xmltv_id="Sony Turbo">Sony Turbo</channel>
  <channel site="tv.yandex.ru" site_id="sony-sci-fi-576" xmltv_id="SONY SCI-FI">SONY SCI-FI</channel>
  <channel site="tv.yandex.ru" site_id="amc-615" xmltv_id="AMC">AMC</channel>
  <channel site="tv.yandex.ru" site_id="tv1000-427" xmltv_id="TV1000">TV1000</channel>
  <channel site="tv.yandex.ru" site_id="tv1000-russkoe-kino-475" xmltv_id="TV1000 Русское кино">TV1000 Русское кино</channel>
  <channel site="tv.yandex.ru" site_id="tv-xxi-492" xmltv_id="TV XXI">TV XXI</channel>
  <channel site="tv.yandex.ru" site_id="dom-kino-715" xmltv_id="Дом кино">Дом кино</channel>
  <channel site="tv.yandex.ru" site_id="illyuzion-424" xmltv_id="Иллюзион +">Иллюзион +</channel>
  <channel site="tv.yandex.ru" site_id="indiyskoe-kino-700" xmltv_id="Индийское кино">Индийское кино</channel>
  <channel site="tv.yandex.ru" site_id="kinosvidanie-551" xmltv_id="Киносвидание">Киносвидание</channel>
  <channel site="tv.yandex.ru" site_id="kinopokaz-391" xmltv_id="Кинопоказ">Кинопоказ</channel>
  <channel site="tv.yandex.ru" site_id="kinohit-586" xmltv_id="Кинохит">Кинохит</channel>
  <channel site="tv.yandex.ru" site_id="nastoyashchee-strashnoe-televidenie-577" xmltv_id="Настоящее Страшное Телевидение">Настоящее Страшное Телевидение</channel>
  <channel site="tv.yandex.ru" site_id="rodnoe-kino-386" xmltv_id="Родное кино">Родное кино</channel>
  <channel site="tv.yandex.ru" site_id="nashe-novoe-kino-565" xmltv_id="Наше Новое Кино">Наше Новое Кино</channel>
  <channel site="tv.yandex.ru" site_id="kinopremera-595" xmltv_id="Кинопремьера">Кинопремьера</channel>
  <channel site="tv.yandex.ru" site_id="russkiy-illyuzion-402" xmltv_id="Русский Иллюзион">Русский Иллюзион</channel>
  <channel site="tv.yandex.ru" site_id="feniks-kino-659" xmltv_id="Феникс+ Кино">Феникс+ Кино</channel>
  <channel site="tv.yandex.ru" site_id="fox-643" xmltv_id="FOX">FOX</channel>
  <channel site="tv.yandex.ru" site_id="fox-life-619" xmltv_id="Fox Life">Fox Life</channel>
  <channel site="tv.yandex.ru" site_id="evrokino-505" xmltv_id="Еврокино">Еврокино</channel>
  <channel site="tv.yandex.ru" site_id="zee-tv-627" xmltv_id="Zee-TV">Zee-TV</channel>
  <channel site="tv.yandex.ru" site_id="mir-seriala-209" xmltv_id="Мир сериала">Мир сериала</channel>
  <channel site="tv.yandex.ru" site_id="kinomiks-635" xmltv_id="Киномикс">Киномикс</channel>
  <channel site="tv.yandex.ru" site_id="tv1000-action-426" xmltv_id="TV1000 Action">TV1000 Action</channel>
  <channel site="tv.yandex.ru" site_id="rtv-lyubimoe-kino-559" xmltv_id="РТВ - Любимое кино">РТВ - Любимое кино</channel>
  <channel site="tv.yandex.ru" site_id="sony-channel-493" xmltv_id="Sony Channel">Sony Channel</channel>
  <channel site="tv.yandex.ru" site_id="kinoseriya-701" xmltv_id="Киносерия">Киносерия</channel>
  <channel site="tv.yandex.ru" site_id="kinokomediya-710" xmltv_id="Кинокомедия">Кинокомедия</channel>
  <channel site="tv.yandex.ru" site_id="russkiy-roman-520" xmltv_id="Русский роман">Русский роман</channel>
  <channel site="tv.yandex.ru" site_id="russkiy-bestseller-771" xmltv_id="Русский бестселлер">Русский бестселлер</channel>
  <channel site="tv.yandex.ru" site_id="a1-237" xmltv_id="A1">A1</channel>
  <channel site="tv.yandex.ru" site_id="russkiy-detektiv-1137" xmltv_id="Русский Детектив">Русский Детектив</channel>
  <channel site="tv.yandex.ru" site_id="mujskoe-kino-1145" xmltv_id="Мужское кино">Мужское кино</channel>
  <channel site="tv.yandex.ru" site_id="komediya-1159" xmltv_id="Комедия">Комедия</channel>
  <channel site="tv.yandex.ru" site_id="r1-1180" xmltv_id="R1">R1</channel>
  <channel site="tv.yandex.ru" site_id="istoriya-794" xmltv_id="История">История</channel>
  <channel site="tv.yandex.ru" site_id="tayny-galaktiki-736" xmltv_id="Тайны Галактики">Тайны Галактики</channel>
  <channel site="tv.yandex.ru" site_id="discovery-vostochnaya-evropa-740" xmltv_id="Discovery Восточная Европа">Discovery Восточная Европа</channel>
  <channel site="tv.yandex.ru" site_id="animal-planet-22" xmltv_id="Animal Planet">Animal Planet</channel>
  <channel site="tv.yandex.ru" site_id="discovery-channel-21" xmltv_id="Discovery Channel">Discovery Channel</channel>
  <channel site="tv.yandex.ru" site_id="discovery-science-524" xmltv_id="Discovery Science">Discovery Science</channel>
  <channel site="tv.yandex.ru" site_id="national-geographic-418" xmltv_id="National Geographic">National Geographic</channel>
  <channel site="tv.yandex.ru" site_id="ocean-tv-71" xmltv_id="OCEAN-TV">OCEAN-TV</channel>
  <channel site="tv.yandex.ru" site_id="viasat-explore-579" xmltv_id="Viasat Explore">Viasat Explore</channel>
  <channel site="tv.yandex.ru" site_id="viasat-history-478" xmltv_id="Viasat History">Viasat History</channel>
  <channel site="tv.yandex.ru" site_id="vremya-649" xmltv_id="Время">Время</channel>
  <channel site="tv.yandex.ru" site_id="zoo-tv-477" xmltv_id="Зоо ТВ">Зоо ТВ</channel>
  <channel site="tv.yandex.ru" site_id="moya-planeta-653" xmltv_id="Моя Планета">Моя Планета</channel>
  <channel site="tv.yandex.ru" site_id="teleputeshestviya-697" xmltv_id="Телепутешествия">Телепутешествия</channel>
  <channel site="tv.yandex.ru" site_id="domashnie-jivotnye-578" xmltv_id="Домашние животные">Домашние животные</channel>
  <channel site="tv.yandex.ru" site_id="viasat-nature-cee-684" xmltv_id="Viasat Nature CEE">Viasat Nature CEE</channel>
  <channel site="tv.yandex.ru" site_id="nat-geo-wild-459" xmltv_id="Nat Geo WILD">Nat Geo WILD</channel>
  <channel site="tv.yandex.ru" site_id="russian-travel-guide-638" xmltv_id="Russian Travel Guide">Russian Travel Guide</channel>
  <channel site="tv.yandex.ru" site_id="voprosy-i-otvety-501" xmltv_id="Вопросы и ответы">Вопросы и ответы</channel>
  <channel site="tv.yandex.ru" site_id="kto-est-kto-685" xmltv_id="Кто есть кто">Кто есть кто</channel>
  <channel site="tv.yandex.ru" site_id="nauka-674" xmltv_id="Наука">Наука</channel>
  <channel site="tv.yandex.ru" site_id="travel-channel-617" xmltv_id="Travel Channel">Travel Channel</channel>
  <channel site="tv.yandex.ru" site_id="zoopark-509" xmltv_id="Zooпарк">Zooпарк</channel>
  <channel site="tv.yandex.ru" site_id="outdoor-channel-497" xmltv_id="Outdoor Channel">Outdoor Channel</channel>
  <channel site="tv.yandex.ru" site_id="365-dney-tv-470" xmltv_id="365 дней ТВ">365 дней ТВ</channel>
  <channel site="tv.yandex.ru" site_id="cbs-reality-729" xmltv_id="CBS Reality">CBS Reality</channel>
  <channel site="tv.yandex.ru" site_id="traveladventure-773" xmltv_id="Travel+Adventure">Travel+Adventure</channel>
  <channel site="tv.yandex.ru" site_id="english-club-tv-683" xmltv_id="English Club TV">English Club TV</channel>
  <channel site="tv.yandex.ru" site_id="prosveshchenie-658" xmltv_id="Просвещение">Просвещение</channel>
  <channel site="tv.yandex.ru" site_id="nano-395" xmltv_id="Нано">Нано</channel>
  <channel site="tv.yandex.ru" site_id="history-1104" xmltv_id="History">History</channel>
  <channel site="tv.yandex.ru" site_id="jivaya-priroda-1090" xmltv_id="Живая природа">Живая природа</channel>
  <channel site="tv.yandex.ru" site_id="tehno-24-1109" xmltv_id="Техно 24">Техно 24</channel>
  <channel site="tv.yandex.ru" site_id="jivaya-planeta-1134" xmltv_id="Живая планета">Живая планета</channel>
  <channel site="tv.yandex.ru" site_id="dtx-1146" xmltv_id="DTX">DTX</channel>
  <channel site="tv.yandex.ru" site_id="match-futbol-3-797" xmltv_id="Матч! Футбол 3">Матч! Футбол 3</channel>
  <channel site="tv.yandex.ru" site_id="eurosport-2-720" xmltv_id="Eurosport 2">Eurosport 2</channel>
  <channel site="tv.yandex.ru" site_id="extreme-sports-484" xmltv_id="Extreme Sports">Extreme Sports</channel>
  <channel site="tv.yandex.ru" site_id="match-boec-547" xmltv_id="Матч! Боец">Матч! Боец</channel>
  <channel site="tv.yandex.ru" site_id="russkiy-ekstrim-523" xmltv_id="Русский Экстрим">Русский Экстрим</channel>
  <channel site="tv.yandex.ru" site_id="futbol-105" xmltv_id="Футбол">Футбол</channel>
  <channel site="tv.yandex.ru" site_id="viasat-sport-548" xmltv_id="Viasat Sport">Viasat Sport</channel>
  <channel site="tv.yandex.ru" site_id="eurosport-677" xmltv_id="Eurosport">Eurosport</channel>
  <channel site="tv.yandex.ru" site_id="khl-562" xmltv_id="КХЛ">КХЛ</channel>
  <channel site="tv.yandex.ru" site_id="match-futbol-1-646" xmltv_id="Матч! Футбол 1">Матч! Футбол 1</channel>
  <channel site="tv.yandex.ru" site_id="match-futbol-2-593" xmltv_id="Матч! Футбол 2">Матч! Футбол 2</channel>
  <channel site="tv.yandex.ru" site_id="boks-tv-1095" xmltv_id="Бокс ТВ">Бокс ТВ</channel>
  <channel site="tv.yandex.ru" site_id="match-arena-1173" xmltv_id="Матч! Арена">Матч! Арена</channel>
  <channel site="tv.yandex.ru" site_id="match-igra-1174" xmltv_id="Матч! Игра">Матч! Игра</channel>
  <channel site="tv.yandex.ru" site_id="match-planeta-1177" xmltv_id="Матч! Планета">Матч! Планета</channel>
  <channel site="tv.yandex.ru" site_id="mult-1080" xmltv_id="МУЛЬТ">МУЛЬТ</channel>
  <channel site="tv.yandex.ru" site_id="nick-jr-731" xmltv_id="Nick Jr">Nick Jr</channel>
  <channel site="tv.yandex.ru" site_id="boomerang-741" xmltv_id="Boomerang">Boomerang</channel>
  <channel site="tv.yandex.ru" site_id="cartoon-network-612" xmltv_id="Cartoon Network">Cartoon Network</channel>
  <channel site="tv.yandex.ru" site_id="nickelodeon-596" xmltv_id="Nickelodeon">Nickelodeon</channel>
  <channel site="tv.yandex.ru" site_id="detskiy-408" xmltv_id="Детский">Детский</channel>
  <channel site="tv.yandex.ru" site_id="da-vinci-525" xmltv_id="Da Vinci">Da Vinci</channel>
  <channel site="tv.yandex.ru" site_id="gulli-girl-707" xmltv_id="Gulli Girl">Gulli Girl</channel>
  <channel site="tv.yandex.ru" site_id="jimjam-569" xmltv_id="JimJam">JimJam</channel>
  <channel site="tv.yandex.ru" site_id="multimaniya-246" xmltv_id="Мультимания">Мультимания</channel>
  <channel site="tv.yandex.ru" site_id="tiji-590" xmltv_id="TiJi">TiJi</channel>
  <channel site="tv.yandex.ru" site_id="baby-tv-491" xmltv_id="Baby TV">Baby TV</channel>
  <channel site="tv.yandex.ru" site_id="ryjiy-1141" xmltv_id="Рыжий">Рыжий</channel>
  <channel site="tv.yandex.ru" site_id="mir-24-98" xmltv_id="МИР 24">МИР 24</channel>
  <channel site="tv.yandex.ru" site_id="nhk-world-japan-734" xmltv_id="NHK WORLD TV">NHK WORLD TV</channel>
  <channel site="tv.yandex.ru" site_id="bloomberg-552" xmltv_id="Bloomberg">Bloomberg</channel>
  <channel site="tv.yandex.ru" site_id="cnn-570" xmltv_id="CNN">CNN</channel>
  <channel site="tv.yandex.ru" site_id="evronovosti-121" xmltv_id="Евроновости">Евроновости</channel>
  <channel site="tv.yandex.ru" site_id="tv5-monde-607" xmltv_id="TV5-Monde">TV5-Monde</channel>
  <channel site="tv.yandex.ru" site_id="rbk-18" xmltv_id="РБК">РБК</channel>
  <channel site="tv.yandex.ru" site_id="bbc-572" xmltv_id="BBC">BBC</channel>
  <channel site="tv.yandex.ru" site_id="dojd-101" xmltv_id="Дождь">Дождь</channel>
  <channel site="tv.yandex.ru" site_id="russia-today-70" xmltv_id="RT">RT</channel>
  <channel site="tv.yandex.ru" site_id="pro-biznes-58" xmltv_id="Про Бизнес">Про Бизнес</channel>
  <channel site="tv.yandex.ru" site_id="bbc-world-news-712" xmltv_id="BBC World News">BBC World News</channel>
  <channel site="tv.yandex.ru" site_id="deutsche-welle-122" xmltv_id="Deutsche Welle">Deutsche Welle</channel>
  <channel site="tv.yandex.ru" site_id="bbc-entertainment-479" xmltv_id="BBC Entertainment">BBC Entertainment</channel>
  <channel site="tv.yandex.ru" site_id="cnbc-713" xmltv_id="CNBC">CNBC</channel>
  <channel site="tv.yandex.ru" site_id="france-24-86" xmltv_id="France 24">France 24</channel>
  <channel site="tv.yandex.ru" site_id="pervyy-meteo-404" xmltv_id="Первый метео">Первый метео</channel>
  <channel site="tv.yandex.ru" site_id="chpinfo-495" xmltv_id="ЧП.Info">ЧП.Info</channel>
  <channel site="tv.yandex.ru" site_id="newsone-467" xmltv_id="NewsOne">NewsOne</channel>
  <channel site="tv.yandex.ru" site_id="mtv-russia-783" xmltv_id="MTV Russia">MTV Russia</channel>
  <channel site="tv.yandex.ru" site_id="stingray-iconcerts-739" xmltv_id="Stingray iConcerts">Stingray iConcerts</channel>
  <channel site="tv.yandex.ru" site_id="mezzo-600" xmltv_id="Mezzo">Mezzo</channel>
  <channel site="tv.yandex.ru" site_id="vh1-classic-438" xmltv_id="VH1 Classic">VH1 Classic</channel>
  <channel site="tv.yandex.ru" site_id="rutv-77" xmltv_id="RU TV">RU TV</channel>
  <channel site="tv.yandex.ru" site_id="tnt-music-655" xmltv_id="ТНТ Music">ТНТ Music</channel>
  <channel site="tv.yandex.ru" site_id="shanson-tb-644" xmltv_id="Шансон-TB">Шансон-TB</channel>
  <channel site="tv.yandex.ru" site_id="europa-plus-tv-656" xmltv_id="Europa Plus TV">Europa Plus TV</channel>
  <channel site="tv.yandex.ru" site_id="muzyka-pervogo-671" xmltv_id="Музыка Первого">Музыка Первого</channel>
  <channel site="tv.yandex.ru" site_id="c-music-tv-496" xmltv_id="C Music TV">C Music TV</channel>
  <channel site="tv.yandex.ru" site_id="mcm-top-583" xmltv_id="MCM TOP">MCM TOP</channel>
  <channel site="tv.yandex.ru" site_id="russian-musicbox-177" xmltv_id="Russian MusicBox">Russian MusicBox</channel>
  <channel site="tv.yandex.ru" site_id="musicbox-tv-634" xmltv_id="MusicBox TV">MusicBox TV</channel>
  <channel site="tv.yandex.ru" site_id="bridge-tv-russkiy-hit-608" xmltv_id="Bridge TV Русский Хит">Bridge TV Русский Хит</channel>
  <channel site="tv.yandex.ru" site_id="vh1-european-567" xmltv_id="VH1 European">VH1 European</channel>
  <channel site="tv.yandex.ru" site_id="bridge-tv-102" xmltv_id="Bridge TV">Bridge TV</channel>
  <channel site="tv.yandex.ru" site_id="lya-minor-tv-472" xmltv_id="Ля-минор">Ля-минор</channel>
  <channel site="tv.yandex.ru" site_id="fashion-one-732" xmltv_id="Fashion One">Fashion One</channel>
  <channel site="tv.yandex.ru" site_id="fashion-tv-152" xmltv_id="Fashion TV">Fashion TV</channel>
  <channel site="tv.yandex.ru" site_id="world-fashion-channel-88" xmltv_id="World Fashion Channel">World Fashion Channel</channel>
  <channel site="tv.yandex.ru" site_id="ohota-i-rybalka-621" xmltv_id="Охота и рыбалка">Охота и рыбалка</channel>
  <channel site="tv.yandex.ru" site_id="telekafe-443" xmltv_id="Телекафе">Телекафе</channel>
  <channel site="tv.yandex.ru" site_id="usadba-689" xmltv_id="Усадьба">Усадьба</channel>
  <channel site="tv.yandex.ru" site_id="mujskoy-412" xmltv_id="Мужской">Мужской</channel>
  <channel site="tv.yandex.ru" site_id="psihologiya-21-538" xmltv_id="Психология 21">Психология 21</channel>
  <channel site="tv.yandex.ru" site_id="uspeh-63" xmltv_id="Успех">Успех</channel>
  <channel site="tv.yandex.ru" site_id="orujie-511" xmltv_id="Оружие">Оружие</channel>
  <channel site="tv.yandex.ru" site_id="zagorodnyy-666" xmltv_id="Загородный">Загородный</channel>
  <channel site="tv.yandex.ru" site_id="zagorodnaya-jizn-390" xmltv_id="Загородная жизнь">Загородная жизнь</channel>
  <channel site="tv.yandex.ru" site_id="zdorove-632" xmltv_id="Тонус-ТВ">Тонус-ТВ</channel>
  <channel site="tv.yandex.ru" site_id="tdk-78" xmltv_id="TDK">TDK</channel>
  <channel site="tv.yandex.ru" site_id="tlc-533" xmltv_id="TLC">TLC</channel>
  <channel site="tv.yandex.ru" site_id="drayv-573" xmltv_id="Драйв">Драйв</channel>
  <channel site="tv.yandex.ru" site_id="zdorovoe-tv-609" xmltv_id="Здоровое ТВ">Здоровое ТВ</channel>
  <channel site="tv.yandex.ru" site_id="jivi-421" xmltv_id="Живи!">Живи!</channel>
  <channel site="tv.yandex.ru" site_id="kuhnya-tv-618" xmltv_id="Кухня ТВ">Кухня ТВ</channel>
  <channel site="tv.yandex.ru" site_id="avto-plyus-436" xmltv_id="Авто Плюс">Авто Плюс</channel>
  <channel site="tv.yandex.ru" site_id="eda-64" xmltv_id="ЕДА">ЕДА</channel>
  <channel site="tv.yandex.ru" site_id="ohotnik-i-rybolov-430" xmltv_id="Охотник и Рыболов">Охотник и Рыболов</channel>
  <channel site="tv.yandex.ru" site_id="world-business-channel-115" xmltv_id="World Business Channel">World Business Channel</channel>
  <channel site="tv.yandex.ru" site_id="rtg-international-1169" xmltv_id="RTG International">RTG International</channel>
  <channel site="tv.yandex.ru" site_id="bober-1171" xmltv_id="Бобер">Бобер</channel>
  <channel site="tv.yandex.ru" site_id="konnyy-mir-1184" xmltv_id="Конный мир">Конный мир</channel>
  <channel site="tv.yandex.ru" site_id="luxury-785" xmltv_id="LUXURY">LUXURY</channel>
  <channel site="tv.yandex.ru" site_id="sts-love-104" xmltv_id="СТС Love">СТС Love</channel>
  <channel site="tv.yandex.ru" site_id="1hd-99" xmltv_id="1HD">1HD</channel>
  <channel site="tv.yandex.ru" site_id="teatr-737" xmltv_id="Театр">Театр</channel>
  <channel site="tv.yandex.ru" site_id="sarafan-645" xmltv_id="Сарафан">Сарафан</channel>
  <channel site="tv.yandex.ru" site_id="paramount-comedy-733" xmltv_id="Paramount Comedy">Paramount Comedy</channel>
  <channel site="tv.yandex.ru" site_id="o2tv-107" xmltv_id="О2ТВ">О2ТВ</channel>
  <channel site="tv.yandex.ru" site_id="jara-440" xmltv_id="Жара">Жара</channel>
  <channel site="tv.yandex.ru" site_id="e-tv-235" xmltv_id="Game Show">Game Show</channel>
  <channel site="tv.yandex.ru" site_id="fashion-one-hd-789" xmltv_id="Fashion One HD">Fashion One HD</channel>
  <channel site="tv.yandex.ru" site_id="khl-hd-796" xmltv_id="КХЛ HD">КХЛ HD</channel>
  <channel site="tv.yandex.ru" site_id="outdoor-hd-791" xmltv_id="Outdoor HD">Outdoor HD</channel>
  <channel site="tv.yandex.ru" site_id="vip-comedy-777" xmltv_id="ViP Comedy">ViP Comedy</channel>
  <channel site="tv.yandex.ru" site_id="vip-megahit-778" xmltv_id="ViP Megahit">ViP Megahit</channel>
  <channel site="tv.yandex.ru" site_id="vip-premiere-779" xmltv_id="ViP Premiere">ViP Premiere</channel>
  <channel site="tv.yandex.ru" site_id="traveladventure-hd-793" xmltv_id="Travel+Adventure HD">Travel+Adventure HD</channel>
  <channel site="tv.yandex.ru" site_id="fox-hd-790" xmltv_id="Fox HD">Fox HD</channel>
  <channel site="tv.yandex.ru" site_id="sony-tv-hd-792" xmltv_id="Sony ТВ HD">Sony ТВ HD</channel>
  <channel site="tv.yandex.ru" site_id="match-futbol-2-hd-800" xmltv_id="Матч! Футбол 2 HD">Матч! Футбол 2 HD</channel>
  <channel site="tv.yandex.ru" site_id="match-futbol-1-hd-801" xmltv_id="Матч! Футбол 1 HD">Матч! Футбол 1 HD</channel>
  <channel site="tv.yandex.ru" site_id="mgm-hd-743" xmltv_id="MGM HD">MGM HD</channel>
  <channel site="tv.yandex.ru" site_id="shokiruyushchee-432" xmltv_id="Кинопоказ HD-1">Кинопоказ HD-1</channel>
  <channel site="tv.yandex.ru" site_id="kinopokaz-hd-2-678" xmltv_id="Кинопоказ HD-2">Кинопоказ HD-2</channel>
  <channel site="tv.yandex.ru" site_id="mezzo-live-hd-702" xmltv_id="Mezzo Live HD">Mezzo Live HD</channel>
  <channel site="tv.yandex.ru" site_id="national-geographic-hd-516" xmltv_id="National Geographic HD">National Geographic HD</channel>
  <channel site="tv.yandex.ru" site_id="travel-channel-hd-425" xmltv_id="Travel Channel HD">Travel Channel HD</channel>
  <channel site="tv.yandex.ru" site_id="nickelodeon-hd-532" xmltv_id="Nickelodeon HD">Nickelodeon HD</channel>
  <channel site="tv.yandex.ru" site_id="hdl-528" xmltv_id="HD Life">HD Life</channel>
  <channel site="tv.yandex.ru" site_id="eda-premium-742" xmltv_id="Еда Премиум">Еда Премиум</channel>
  <channel site="tv.yandex.ru" site_id="pervyy-hd-763" xmltv_id="Первый HD">Первый HD</channel>
  <channel site="tv.yandex.ru" site_id="rossiya-1-hd-65" xmltv_id="Россия 1 HD">Россия 1 HD</channel>
  <channel site="tv.yandex.ru" site_id="animal-planet-hd-769" xmltv_id="Animal Planet HD">Animal Planet HD</channel>
  <channel site="tv.yandex.ru" site_id="kinosemya-766" xmltv_id="Киносемья">Киносемья</channel>
  <channel site="tv.yandex.ru" site_id="luxe-hd-494" xmltv_id="Luxe HD">Luxe HD</channel>
  <channel site="tv.yandex.ru" site_id="hd-media-80" xmltv_id="HD Медиа">HD Медиа</channel>
  <channel site="tv.yandex.ru" site_id="priklyucheniya-hd-499" xmltv_id="Teletravel HD">Teletravel HD</channel>
  <channel site="tv.yandex.ru" site_id="fashion-tv-hd-423" xmltv_id="Fashion TV HD">Fashion TV HD</channel>
  <channel site="tv.yandex.ru" site_id="nat-geo-wild-hd-704" xmltv_id="Nat Geo Wild HD">Nat Geo Wild HD</channel>
  <channel site="tv.yandex.ru" site_id="fox-life-hd-553" xmltv_id="Fox Life HD">Fox Life HD</channel>
  <channel site="tv.yandex.ru" site_id="eurosport-1-hd-591" xmltv_id="Eurosport 1 HD">Eurosport 1 HD</channel>
  <channel site="tv.yandex.ru" site_id="mtv-live-international-hd-513" xmltv_id="MTV Live International HD">MTV Live International HD</channel>
  <channel site="tv.yandex.ru" site_id="amedia-premium-hd-238" xmltv_id="Amedia Premium HD">Amedia Premium HD</channel>
  <channel site="tv.yandex.ru" site_id="strashnoe-hd-1096" xmltv_id="Страшное HD">Страшное HD</channel>
  <channel site="tv.yandex.ru" site_id="bollywood-hd-1105" xmltv_id="Bollywood HD">Bollywood HD</channel>
  <channel site="tv.yandex.ru" site_id="kinopremiumhd-1147" xmltv_id="КиноПремиумHD">КиноПремиумHD</channel>
  <channel site="tv.yandex.ru" site_id="ostrosyujetnoe-hd-1149" xmltv_id="Остросюжетное HD">Остросюжетное HD</channel>
  <channel site="tv.yandex.ru" site_id="discovery-channel-hd-1156" xmltv_id="Discovery Channel HD">Discovery Channel HD</channel>
  <channel site="tv.yandex.ru" site_id="ginger-hd-1166" xmltv_id="Ginger HD">Ginger HD</channel>
  <channel site="tv.yandex.ru" site_id="ohotnik-i-rybolov-hd-1185" xmltv_id="Охотник и Рыболов HD">Охотник и Рыболов HD</channel>
  <channel site="tv.yandex.ru" site_id="insight-ultra-hd-1172" xmltv_id="Insight Ultra HD">Insight Ultra HD</channel>
  <channel site="tv.yandex.ru" site_id="fuel-tv-hd-1176" xmltv_id="Fuel TV HD">Fuel TV HD</channel>
  <channel site="tv.yandex.ru" site_id="museum-hd-1178" xmltv_id="Museum HD">Museum HD</channel>
  <channel site="tv.yandex.ru" site_id="balashiha-tv-1115" xmltv_id="Балашиха ТВ">Балашиха ТВ</channel>
  <channel site="tv.yandex.ru" site_id="belarus-24-468" xmltv_id="Беларусь-24">Беларусь-24</channel>
  <channel site="tv.yandex.ru" site_id="tnv-planeta-188" xmltv_id="ТНВ-планета">ТНВ-планета</channel>
  <channel site="tv.yandex.ru" site_id="mama-622" xmltv_id="Мама">Мама</channel>
  <channel site="tv.yandex.ru" site_id="nostalgiya-691" xmltv_id="Ностальгия">Ностальгия</channel>
  <channel site="tv.yandex.ru" site_id="radost-moya-185" xmltv_id="Радость Моя">Радость Моя</channel>
  <channel site="tv.yandex.ru" site_id="tnv-446" xmltv_id="ТНВ">ТНВ</channel>
  <channel site="tv.yandex.ru" site_id="cinema-396" xmltv_id="Cinema">Cinema</channel>
  <channel site="tv.yandex.ru" site_id="sovershenno-sekretno-57" xmltv_id="Совершенно секретно">Совершенно секретно</channel>
  <channel site="tv.yandex.ru" site_id="retro-tv-382" xmltv_id="Ретро ТВ">Ретро ТВ</channel>
  <channel site="tv.yandex.ru" site_id="8-kanal-456" xmltv_id="8 Канал">8 Канал</channel>
  <channel site="tv.yandex.ru" site_id="ajara-tv-682" xmltv_id="Ajara TV">Ajara TV</channel>
  <channel site="tv.yandex.ru" site_id="luxetv-542" xmltv_id="Luxe.TV">Luxe.TV</channel>
  <channel site="tv.yandex.ru" site_id="myzentv-434" xmltv_id="myZen.tv">myZen.tv</channel>
  <channel site="tv.yandex.ru" site_id="shot-tv-537" xmltv_id="Эгоист ТВ">Эгоист ТВ</channel>
  <channel site="tv.yandex.ru" site_id="raztv-84" xmltv_id="РазТВ">РазТВ</channel>
  <channel site="tv.yandex.ru" site_id="rjd-575" xmltv_id="РЖД">РЖД</channel>
  <channel site="tv.yandex.ru" site_id="belros-675" xmltv_id="БелРос (ТРО)">БелРос (ТРО)</channel>
  <channel site="tv.yandex.ru" site_id="tbn-601" xmltv_id="ТБН">ТБН</channel>
  <channel site="tv.yandex.ru" site_id="soyuz-108" xmltv_id="Союз">Союз</channel>
  <channel site="tv.yandex.ru" site_id="tochkatv-68" xmltv_id="Точка ТВ">Точка ТВ</channel>
  <channel site="tv.yandex.ru" site_id="ldpr-tv-1107" xmltv_id="ЛДПР ТВ">ЛДПР ТВ</channel>
  <channel site="tv.yandex.ru" site_id="kaleydoskop-tv-232" xmltv_id="Калейдоскоп ТВ">Калейдоскоп ТВ</channel>
  <channel site="tv.yandex.ru" site_id="h2-1191" xmltv_id="H2">H2</channel>
  <channel site="tv.yandex.ru" site_id="kvn-tv-1192" xmltv_id="КВН ТВ">КВН ТВ</channel>
  <channel site="tv.yandex.ru" site_id="pingvin-lolo-245" xmltv_id="Пингвин Лоло">Пингвин Лоло</channel>
  <channel site="tv.yandex.ru" site_id="food-network-1194" xmltv_id="Food Network">Food Network</channel>
  <channel site="tv.yandex.ru" site_id="centralnoe-televidenie-ctv-198" xmltv_id="Центральное телевидение (ЦТВ)">Центральное телевидение (ЦТВ)</channel>
  <channel site="tv.yandex.ru" site_id="fashion-one-4k-1204" xmltv_id="Fashion One 4K">Fashion One 4K</channel>
  <channel site="tv.yandex.ru" site_id="otkrytyy-mir-1199" xmltv_id="Открытый мир">Открытый мир</channel>
  <channel site="tv.yandex.ru" site_id="global-star-62" xmltv_id="Global Star">Global Star</channel>
  <channel site="tv.yandex.ru" site_id="mtv-dance-international-1206" xmltv_id="MTV Dance International">MTV Dance International</channel>
  <channel site="tv.yandex.ru" site_id="mtv-hits-international-1207" xmltv_id="MTV Hits International">MTV Hits International</channel>
  <channel site="tv.yandex.ru" site_id="mtv-rocks-international-1205" xmltv_id="MTV Rocks International">MTV Rocks International</channel>
  <channel site="tv.yandex.ru" site_id="shant-premium-1208" xmltv_id="SHANT Premium">SHANT Premium</channel>
  <channel site="tv.yandex.ru" site_id="paramount-channel-1209" xmltv_id="Paramount Channel">Paramount Channel</channel>
  <channel site="tv.yandex.ru" site_id="v-mire-jivotnyh-1211" xmltv_id="Animal Family HD">Animal Family HD</channel>
  <channel site="tv.yandex.ru" site_id="evrika-1212" xmltv_id="Eureka HD">Eureka HD</channel>
  <channel site="tv.yandex.ru" site_id="rtd-82" xmltv_id="RTД">RTД</channel>
  <channel site="tv.yandex.ru" site_id="dom-kino-premium-1213" xmltv_id="Дом Кино Премиум">Дом Кино Премиум</channel>
  <channel site="tv.yandex.ru" site_id="nadejda-127" xmltv_id="Надежда">Надежда</channel>
  <channel site="tv.yandex.ru" site_id="detektivtv-1216" xmltv_id="Detektiv.tv">Detektiv.tv</channel>
  <channel site="tv.yandex.ru" site_id="malysh-1214" xmltv_id="Малыш">Малыш</channel>
  <channel site="tv.yandex.ru" site_id="nash-detektiv-1217" xmltv_id="Наш Детектив">Наш Детектив</channel>
  <channel site="tv.yandex.ru" site_id="dushevnoe-1218" xmltv_id="Наш Кинороман">Наш Кинороман</channel>
  <channel site="tv.yandex.ru" site_id="anekdot-tv-85" xmltv_id="Анекдот ТВ">Анекдот ТВ</channel>
  <channel site="tv.yandex.ru" site_id="novyy-mir-1220" xmltv_id="Новый мир">Новый мир</channel>
  <channel site="tv.yandex.ru" site_id="sankt-peterburg-48" xmltv_id="Санкт-Петербург">Санкт-Петербург</channel>
  <channel site="tv.yandex.ru" site_id="ntv-pravo-92" xmltv_id="НТВ Право">НТВ Право</channel>
  <channel site="tv.yandex.ru" site_id="ntv-serial-93" xmltv_id="НТВ Сериал">НТВ Сериал</channel>
  <channel site="tv.yandex.ru" site_id="ntv-stil-94" xmltv_id="НТВ Стиль">НТВ Стиль</channel>
  <channel site="tv.yandex.ru" site_id="o-1225" xmltv_id="О!">О!</channel>
  <channel site="tv.yandex.ru" site_id="hitv-75" xmltv_id="HITV">HITV</channel>
  <channel site="tv.yandex.ru" site_id="spike-1226" xmltv_id="Spike">Spike</channel>
  <channel site="tv.yandex.ru" site_id="docubox-hd-1227" xmltv_id="DocuBox HD">DocuBox HD</channel>
  <channel site="tv.yandex.ru" site_id="filmbox-hd-1228" xmltv_id="FilmBox HD">FilmBox HD</channel>
  <channel site="tv.yandex.ru" site_id="russian-extreme-ultra-hd-1229" xmltv_id="Russian Extreme Ultra HD">Russian Extreme Ultra HD</channel>
  <channel site="tv.yandex.ru" site_id="tvrus-1230" xmltv_id="TVRUS">TVRUS</channel>
  <channel site="tv.yandex.ru" site_id="tnt-hd-1232" xmltv_id="ТНТ HD">ТНТ HD</channel>
  <channel site="tv.yandex.ru" site_id="h2-hd-1237" xmltv_id="H2 HD">H2 HD</channel>
  <channel site="tv.yandex.ru" site_id="mujskoe-kino-hd-1238" xmltv_id="Мужское кино HD">Мужское кино HD</channel>
  <channel site="tv.yandex.ru" site_id="7-tv-1241" xmltv_id="7 TV">7 TV</channel>
  <channel site="tv.yandex.ru" site_id="fashion-box-hd-1242" xmltv_id="Fashion Box HD">Fashion Box HD</channel>
  <channel site="tv.yandex.ru" site_id="fast-fun-box-hd-1243" xmltv_id="Fast &amp; FunBox HD">Fast &amp; FunBox HD</channel>
  <channel site="tv.yandex.ru" site_id="filmbox-arthouse-1244" xmltv_id="FilmBox Arthouse">FilmBox Arthouse</channel>
  <channel site="tv.yandex.ru" site_id="doktor-1245" xmltv_id="Доктор">Доктор</channel>
  <channel site="tv.yandex.ru" site_id="poehali-1246" xmltv_id="Поехали!">Поехали!</channel>

</settings>
