<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-MFPDYVWZ2E"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-MFPDYVWZ2E');
	</script>

	

	<!-- AdSense -->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7504334276740439"
	crossorigin="anonymous"></script>



	<title>Programação AXN</title>

	<script src="/meuguia.js"></script>

	<link rel="shortcut icon" href=/favicon.ico />
	<link rel="apple-touch-icon" href=/apple-touch-icon.png />
	<link rel="stylesheet" media="screen" href="/reset.css" />
	<link rel="stylesheet" media="screen" href="/meuguia.css" />

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Material+Icons" rel="stylesheet">

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<meta name="author" content="Alexandre Saddi and Fernando Pinho | http://www.alexandresaddi.com" />
	<meta name="keywords" content="meuguia,meu,guia,tv,grade,guide,tvguide,filmes,esportes,s&eacute;ries,rede globo,programa&ccedil;&atilde;o,iphone webapp,canal" />
	<meta name="description" content="Guia de programa&ccedil;&atilde;o da televis&atilde;o no Brasil, incluindo canais de TV por assinatura. Otimizado para iPhone e iPod Touch." />

</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.9&appId=324630984267271";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script>
	window.onscroll = function() {
		var h = document.getElementsByTagName("header")[0];
		if ( window.pageYOffset > 8 ) {
			h.classList.add("elevation4");
		} else {
			h.classList.remove("elevation4");
		}
		var hbg = document.getElementById("canal_header_bg");
		if ( window.pageYOffset < 8 ) {
			hbg.classList.add("show");
		} else {
			hbg.classList.remove("show");
		}
	}
</script>


<header id="header" style="background-color: #0099EE">
	<div id="header_wrap" class="mw">
		<a class="headerbutton" id="backbutton" href="javascript:history.back();"><i class="material-icons">arrow_back</i></a>		
		<a id="logo" href="/">meuguia.TV</a>		
	</div>
</header>


<div class="whitebg">
<div class="content">

	<div id="canal_header_bg" style="background-color: #0099EE"></div>
	<div id="canal_header" style="background-color: #0099EE">
		<div class="mw">
			<div class="logo_canal canal_axn"></div>
			<span>PROGRAMAÇÃO</span>
			<h1 class="devicepadding">AXN</h1>
		</div>
	</div>
	
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7504334276740439"
              crossorigin="anonymous"></script>

<script type="text/javascript">
	
	width = window.innerWidth;
		
	if (width >= 730) {
		// Leaderboard
		google_ad_slot = "2461297838";
		google_ad_width = 728;
		google_ad_height = 90;
	} else if ((width > 480) && (width < 730)) {
		// Banner
		google_ad_slot = "3358025652";
		google_ad_width = 468;
		google_ad_height = 60;
	} else if (width <= 480) {
		// Mobile
		google_ad_slot = "5087461176";
		google_ad_width = 320;
		google_ad_height = 50;
	}

	document.write ('<div class="ad" style="width:'+google_ad_width+'px;">Publicidade:');
	document.write ('<ins class="adsbygoogle" style="display:inline-block;width:'+google_ad_width+'px;height:'+google_ad_height+'px" data-ad-client="ca-pub-7504334276740439" data-ad-slot="'+google_ad_slot+'"></ins>');
	document.write ('</div>');

	(adsbygoogle = window.adsbygoogle || []).push({});

</script>

	<ul class="mw">
	
        
        
            
            <li class="subheader devicepadding">Terça-feira, 21/11</li>
        
	    <!--
			<% if dia_atual != programa[:inicio].strftime("%d/%m") %>
	
	            <% if dia_atual != "" %>

		            <% if index == 6 %>
						<%= render "shared/adsense_middle" %>
					<% else %>
						<li class="divider"></li>
		            <%end %>

	            <%end %>
			
				<li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
			<% else %>
			
				<% if index == 6 %>
					<%= render "shared/adsense_middle" %>
	            <%end %>
			
		    <% end %>
	
			<% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

			<li>
				<!-- <a title="Hawaii Five-0 : T10 EP4 - Tiny Is the Flower, Yet It Scents the Grasses Around It" class="devicepadding"  href="/programacao/programa/" > -->
				<a title="Hawaii Five-0 : T10 EP4 - Tiny Is the Flower, Yet It Scents the Grasses Around It" class="devicepadding" >
					<div class='lileft time'>18:20</div>
					<div class="licontent">
						<h2>Hawaii Five-0 : T10 EP4 - Tiny Is the Flower, Yet It Scents the Grasses Around It</h2>
						<h3>Drama</h3>
					</div>
                    
				</a>
			</li>

	   
        
	    <!--
			<% if dia_atual != programa[:inicio].strftime("%d/%m") %>
	
	            <% if dia_atual != "" %>

		            <% if index == 6 %>
						<%= render "shared/adsense_middle" %>
					<% else %>
						<li class="divider"></li>
		            <%end %>

	            <%end %>
			
				<li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
			<% else %>
			
				<% if index == 6 %>
					<%= render "shared/adsense_middle" %>
	            <%end %>
			
		    <% end %>
	
			<% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

			<li>
				<!-- <a title="Hawaii Five-0 : T10 EP5 - Don&#39;t Blame Ghosts and Spirits for One&#39;s Troubles; A Human Is Responsible" class="devicepadding"  href="/programacao/programa/" > -->
				<a title="Hawaii Five-0 : T10 EP5 - Don&#39;t Blame Ghosts and Spirits for One&#39;s Troubles; A Human Is Responsible" class="devicepadding" >
					<div class='lileft time'>19:15</div>
					<div class="licontent">
						<h2>Hawaii Five-0 : T10 EP5 - Don&#39;t Blame Ghosts and Spirits for One&#39;s Troubles; A Human Is Responsible</h2>
						<h3>Drama</h3>
					</div>
                    
				</a>
			</li>

	   
        
			<li class="divider">

	<div class="ad" style="width:300px; padding-bottom: 24px;">
	
		Publicidade:
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7504334276740439"
                      crossorigin="anonymous"></script>
		<!-- Medium Rectangle -->
		<ins class="adsbygoogle"
			style="display:inline-block;width:300px;height:250px"
			data-ad-client="ca-pub-7504334276740439"
			data-ad-slot="9046887482"></ins>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
		</script>

	</div>

</li>
        
	    <!--
			<% if dia_atual != programa[:inicio].strftime("%d/%m") %>
	
	            <% if dia_atual != "" %>

		            <% if index == 6 %>
						<%= render "shared/adsense_middle" %>
					<% else %>
						<li class="divider"></li>
		            <%end %>

	            <%end %>
			
				<li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
			<% else %>
			
				<% if index == 6 %>
					<%= render "shared/adsense_middle" %>
	            <%end %>
			
		    <% end %>
	
			<% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

			<li>
				<!-- <a title="NCIS : T5 EP15 - In the Zone" class="devicepadding"  href="/programacao/programa/" > -->
				<a title="NCIS : T5 EP15 - In the Zone" class="devicepadding" >
					<div class='lileft time'>20:10</div>
					<div class="licontent">
						<h2>NCIS : T5 EP15 - In the Zone</h2>
						<h3>Ação</h3>
					</div>
                    
				</a>
			</li>

	   
        
	    <!--
			<% if dia_atual != programa[:inicio].strftime("%d/%m") %>
	
	            <% if dia_atual != "" %>

		            <% if index == 6 %>
						<%= render "shared/adsense_middle" %>
					<% else %>
						<li class="divider"></li>
		            <%end %>

	            <%end %>
			
				<li class="subheader devicepadding"><%= dia_semana(programa[:inicio]) %></li>
			<% else %>
			
				<% if index == 6 %>
					<%= render "shared/adsense_middle" %>
	            <%end %>
			
		    <% end %>
	
			<% dia_atual = programa[:inicio].strftime("%d/%m") %> -->

	</ul> 
	
</div>
</div>



<footer>
	<div class="mw">
	<span class="rodape devicepadding">
		meuguia.TV 5.0.0 - <a href="/info/privacidade">Política de Privacidade</a>

		<div class="product-social-links">
			<div style="margin-right: 4px;" class="fb-like" data-href="https://facebook.com/meuguiatv" data-layout="button_count" data-action="like" data-size="large" data-width="130" data-show-faces="false" data-share="false"></div>
			<a href="https://twitter.com/meuguiatv" class="twitter-follow-button" data-lang="pt" data-show-count="false" data-size="large">Seguir @meuguiatv</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</span>
	</div>
</footer>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-305350-4', 'auto');
	ga('send', 'pageview');
</script>

</body>
</html>