name: Build Docker Image

on:
  workflow_dispatch:
  push:
    branches:
      - master

env:
    IMAGE: ghcr.io/${{ github.repository_owner }}/epg

permissions:
  contents: write
  packages: write

concurrency:
  group: docker-build
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-24.04
            tag_suffix: linux-amd64
            # node_version:        # use default from Dockerfile
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
            tag_suffix: linux-arm64
            # node_version:        # use default from Dockerfile
          - platform: linux/arm/v7
            runner: ubuntu-24.04-arm
            tag_suffix: linux-armv7
            node_version: 22       # older Node.js for ARMv7 -> node version > 22 is not supported

    runs-on: ${{ matrix.runner || 'ubuntu-24.04' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Extract NodeJS version
        id: node-version
        run: |
          if [ -n "${NODE_VERSION}" ]; then
            echo "arg=NODE_VERSION=${NODE_VERSION}" >> "$GITHUB_OUTPUT"
          fi
        env:
          NODE_VERSION: ${{ matrix.node_version || '' }}

      - name: Build & Push ${{ matrix.platform }}
        uses: docker/build-push-action@v6
        id: build
        with:
          context: .
          file: docker/Dockerfile
          platforms: ${{ matrix.platform }}
          push: true
          tags: ${{ env.IMAGE }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          build-args: ${{ steps.node-version.outputs.arg }}
          cache-from: type=gha,scope=epg-${{ matrix.tag_suffix }}
          cache-to:   type=gha,mode=max,scope=epg-${{ matrix.tag_suffix }}

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ matrix.tag_suffix }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  manifest:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Compute short SHA
        id: vars
        shell: bash
        run: echo "short_sha=${GITHUB_SHA::7}" >> "$GITHUB_OUTPUT"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE }}
          tags: |
            type=ref,event=branch
            type=raw,value=latest
            type=raw,value=${{ steps.vars.outputs.short_sha }}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.IMAGE }}:latest
          docker buildx imagetools inspect ${{ env.IMAGE }}:${{ steps.vars.outputs.short_sha }}
